<!DOCTYPE html>
<html>
<head>
	<title>夜心数据 | 落后于全球的大数据解决方案</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); 
		function hideURLbar(){ window.scrollTo(0,1); }
	</script>
	<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
	<link href="/static/css/button.css" rel='stylesheet' type='text/css' />
	<link rel="shortcut icon" href="/static/favicon.ico"/>
	<script src="/static/js/jquery-1.11.0.min.js"></script>
	<script src="/static/js/jquery-1.11.1.js"></script>
    <!-- REQUIRED BOOTSTRAP SCRIPTS -->
    <script src="/static/js/bootstrap.js"></script>
    <!-- BACKGROUND VIDEO PLUGIN  -->
    <script src="/static/js/jquery.mb.YTPlayer.js"></script>
    <!-- SCROLLING SCRIPTS PLUGIN  -->
    <script src="/static/js/jquery.easing.min.js"></script>
    <!-- CUSTOM SCRIPTS   -->
    <script src="/static/js/custom.js"></script>
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="/static/js/move-top.js"></script>
	<script type="text/javascript" src="/static/js/easing.js"></script>
	<script type="text/javascript">
				jQuery(document).ready(function($) {
					$(".scroll").click(function(event){		
						event.preventDefault();
						$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
					});
				});
	</script>
</head>
<body>
<!-- nav -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 id="logo"><a href="#" class="navbar-brand">NHdata</a></h1>
            </div>
            <div class="navbar-collapse collapse navbar-right scroll-me">
                <ul class="nav navbar-nav ">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#profile">Profile</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#what">What</a></li>
                    <li><a href="#market">Market</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div style="height: 51px;"></div>
<!--start-banner-->
	<div class="banner" id="home">
		<div class="container">
			<div class="banner-top">
				<a href="/"><img src="/static/images/logo.png" alt="" /></a>
				<h1>By & For U <span> Night Heart Data</span></h1>
				<p>I love Spider,I love Big Data.I devote to study Crawl,Analysis and Visualization.</p>
				<div class="dwn">
					<a href="#profile" class="scroll"><img src="/static/images/dwn-arw.png" alt="" /></a>
				</div>
			</div>
		</div>	
	</div>	
	<!--end-banner-->
	<!--start-profile-->
	<div class="profile" id="profile">
		<div class="container">
			<div class="profile-main">
				<h3>PROFILE</h3>
				<p> When you work with us, you are part of a team of committed collaborators.<span> All aspects of our software development process are integrated, iterative and agile.</span></p>
  				<p>Our approach unifies design, development and product management to create exceptional products. We start each project by understanding your business goals, the user’s needs and the product requirements. Then we help translate them into effective and elegant solutions.</p>
			</div>
		</div>
	</div>
	<!--end-profile-->
	<!--start-services-->
	<div class="services" id="services">
		<div class="container">
			<div class="services-mian">
				<h3>SERVICES</h3>
				<p>Data is full in out live.I conllect and dig its value.The data is create by you,and service you. </p>
				  <a href="http://firefly.local" class="button button-glow button-border button-rounded button-primary">Go</a>
			</div>
		</div>
	</div>
	<!--end-services-->		
	<!--start-what-->
	<div class="what" id="what">
		<div class="container">
			<div class="what-mian">
				<h3>WHAT I DO</h3>
				<div class="what-top">
					<div class="what-one">
						<span class="one"> </span>
						<h4>Crawl</h4>
						<P>I have a nice Spider to crawl data on Internet.The Spider bases on Scrapy.</P> 
						<P>It can crawl some website like douban. </P>
					</div>
					<div class="what-one">
						<span class="two"> </span>
						<h4>Analysis</h4>
						<P>Data is clutter.  </P>
						<P>I dont know how to deal with it.</P> 
					</div>
					<div class="what-one">
						<span class="tre"> </span>
						<h4>Visualization</h4>
						<P>D3.js is a visualization framework by JavaScript.</P> 
						<P>It is very nice!</P>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end-what-->
	<!--start-work-->
	<div class="market" id="market">
		<div class="container">
			<div class="market-mian">
				<h3>MARKET</h3>
				<p>Before we sign a contract or write a line of code our team will spend the necessary time needed to understand your product vision. </p>
				  <a href="javascript:alert('coming soon...');" class="button button-glow button-border button-rounded button-caution">Go</a>
			</div>
		</div>
	</div>
	<!--end-work-->
	<!--Slider-Starts-Here-->
				<script src="/static/js/responsiveslides.min.js"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: false,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });
			
			    });
			  </script>
	<!--End-slider-script-->	
	<!--start-contact-->
	<div class="contact" id="contact">
		<div class="container">
			<div class="contact-main">
				<h3>CONTACT ME</h3>
				<p>Planning and development is iterative. Because I am constantly coding and testing, the products we build are always ready to go live. This iterative process allows for changes as business requirements evolve. </p>
				<div class="contact-btn">
					<a href="/contact" class="hvr-sweep-to-right">CONTACT ME</a>
				</div>
			</div>
			<div class="contact-bottom">
				<a href="index.html"><img src="/static/images/logo-1.png" alt="" /></a>
				<p>Copyright &copy; 2016.Justyer All rights reserved.<a target="_blank" href="http://www.justyer.site/">Justyer</p>
			</div>
		</div>
		<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</div>
	<!--end-contact-->	
</body>
</html>